/*Author : Vladimir Rekaï*/

/*Style for the all page*/
:root{
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    background-color: brown;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/*Organization of the page*/
header, main{
    flex-direction: column;
    display: flex;
    align-items: center;
}

/*Style for the title*/
h1{
    border-style: solid;
    border-radius: 100%;
    padding: 1em;
    font-size: 3em;
}

/*Style of the timer*/
.timer{
    font-size: 5em;
    border-style: solid;
    border-radius: 50%;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(204, 0, 0);
}

/*Style of the activity label (Work or Break)*/
.activity{
    margin-bottom: 1em;
    font-size: 1.5em;
    border-style: solid;
    border-radius:10%;
    padding-left: 1em;
    padding-right: 1em;
}

/*Style of the button (start or reset)*/
button{
    margin: 1em;
    padding: 1em;
    background-color: transparent;
    width: 5em;
    height: 5em;
    border-style: none;
}