body {
    display: flex;
    background-color: brown;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: Ro;
}

header, main{
    flex-direction: column;
    display: flex;
    align-items: center;
}

h1{
    border-style: solid;
    border-radius: 100%;
    padding: 1em;
    font-size: 3em;
}

.timer{
    font-size: 5em;
    border-style: solid;
    border-radius: 50%;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.activity{
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

.button{
    margin: 1em;
}